body{
background-color: black;
}
h1{
color: rgb(255, 0, 0);
}
td{
color: white;
}
table{
width: 50%;
line-height: 1.5;
border: color(blue red green blue);
border: 4px;
text-align: center;
}
table{
border: 3px color(red red green blue);
background-color: aliceblue;
}
